@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

img {
    max-width: 100%;
}

html {
    overflow: hidden;
}

body {
    font-family: 'Jura';
    color: #393E46;
}

.wrapper {
    transition: all 0.3s ease 0s;
    background-color: #eeeeee;
    border-radius: 25px;
    height: 100vh;
    position: relative;
}

.wrapper.dark {
    background-color: rgb(78, 78, 78);
    color: white;
}


/* ========== Main ========== */

.theme {
    position: absolute;
    inset: 10px;
    width: 40px;
    height: 40px;
    cursor: cell;
    z-index: 10000000;
}

.top {
    -webkit-app-region: drag;
    text-align: end;
    padding: 77px 23px 0px 0px;
    height: 40vh;
}

.expression {
    font-size: 40px;
    line-height: 47px;
}

.answer {
    font-size: 25px;
    line-height: 30px;
    opacity: 0.5;
    margin-bottom: 130px;
}

.bottom {
    height: 60vh;
}

.buttons {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    padding: 13px 24px 30px;
}

.buttons__item {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    align-items: center;
    background: rgba(34, 40, 49, 0.03);
    border-radius: 30px;
    cursor: pointer;
}

.blue {
    color: #00ADB5;
}

.light {
    color: #EEEEEE;
}

.get {
    background: rgba(0, 172, 181, 0.67);
}

.settings-icon {
    padding: 0;
}

.settings-icon img {
    height: 25px;
    width: 25px;
}

/* =============== Settings ============== */

.settings {
    font-size: 14px;
    transition: all 0.3s ease 0s;
    padding: 40px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    color: #00ADB5;
    background-color: #333;
    border-radius: 0px 0px 25px 25px;
}


.form-settings {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-settings__item {
    position: relative;
}

.form-settings__item:not(:last-child) {
    margin-bottom: 10px;
}

.form-settings__item input {
    opacity: 0;
}

.form-settings__item input+label {
    user-select: none;
    padding-left: 30px;
}

.form-settings__item input:checked+label::after {
    transform: translateX(20px);
}

.form-settings__item input:checked+label::before {
    background-color: rgb(114, 201, 87);
}

.form-settings__item label::before {
    transition: all 0.3s ease 0s;
    content: "";
    display: inline-block;
    width: 36px;
    height: 16px;
    position: absolute;
    inset: 2px;
    background-color: rgb(131, 131, 131);
    border-radius: 10px;
}

.form-settings__item label::after {
    transition: all 0.3s ease 0s;
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    position: absolute;
    inset: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

.settings.open {
    transform: translateY(calc(-60vh + 2px));
}

.settings__close {
    text-align: center;
}

.settings__close button {
    padding: 10px 20px;
    background-color: rgb(119, 107, 148);
    border: 0;
    border-radius: 10px;
    color: white;
}